* {
  box-sizing: border-box;
}

:root {
  --color-primary: #2D4E6A;
  --color-on_primary: white;

  --color-secondary: #efefef;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  background: #f2f2f2;
  font-family:
    'Segoe UI',
    'Segoe UI Web (West European)',
    'Segoe UI',
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

.loader p {
  margin-top: 0;
  font-weight: bold;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--color-primary);
  animation: pulse 1.5s infinite ease-in-out;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes pulse {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

[class*="chatContainer"] h1 {
  font-size: 2.7em;
  margin-bottom: 0.33em;
}

[class*="chatMessageUserMessage"],
[class*="answerText"]
{
  font-size: 1em;
  font-weight: 600;
}

sup {
  background-color: #efefef;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    width: 18px;
    height: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

textarea {
  outline: none !important;
  font-size: 18px !important;
}

.topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1028px;
  padding: 30px 24px 30px;

  h1 {
    font-size: 1.5em;
    margin: 0;
  }
}

[class*="citationPanelHeader"] {
  font-size: 1.5em;
  margin: 0;
  font-weight: bold;
}

.icon-button {
  border: 1px solid var(--color-primary);
}

button.icon-button {
  background-color: transparent;
  padding: 12px;
  font-weight: bold;
  position: relative;
  border-radius: 3px;
  cursor: pointer;
}

.font-icon {
  position: relative;
  padding-left: 15px;
}

.font-icon:before,
.icon-button:before {
  content: '';
  mask-repeat: no-repeat;
  mask-size: cover;
  background-color: #242424;
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

textarea {
  font-family: inherit;
}

.--document:before {
  mask-image: url('/src/assets/multiple-pages.svg');
}

.icon-button.--cancel:before {
  mask-image: url('/src/assets/xmark.svg');
}

.icon-button.--clear:before {
  mask-image: url('/src/assets/chat-plus-in.svg');
}

.icon-button.--right {
  padding-right: 40px;
}
.icon-button.--primary {
  color: var(--color-primary);
  border-color: var(--color-primary);
}

.icon-button.--primary:before {
  background-color: var(--color-primary);
}

.icon-button.--right:before {
  left: auto;
  right: 0;
}